In [ ]:
import pandas as pd
df=pd.read_csv("students_dataset.csv")
print(df.head())

      Name   Age  Marks  Attendance Passed
0    Alice  20.0   85.0        90.0    Yes
1      Bob  21.0    NaN        80.0     No
2  Charlie   NaN   78.0         NaN    Yes
3    David  22.0   90.0        85.0    Yes
4      Eve  20.0   88.0        95.0     No

In [ ]:
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0        90.0    Yes
1       Bob  21.0    NaN        80.0     No
2   Charlie   NaN   78.0         NaN    Yes
3     David  22.0   90.0        85.0    Yes
4       Eve  20.0   88.0        95.0     No
5     Frank   NaN   76.0        70.0    Yes
6     Grace  23.0    NaN        88.0     No
7      Hank  21.0   80.0         NaN    Yes
8       Ivy  24.0   92.0        92.0    Yes
9      Jack   NaN   79.0        85.0     No
10    Kelly  22.0    NaN        78.0    Yes
11      Leo  23.0   87.0         NaN    Yes
12     Mona  21.0   83.0        80.0     No
13     Nina   NaN   77.0        89.0    Yes
14    Oscar  25.0    NaN        91.0     No
15     Paul  22.0   81.0         NaN    Yes

In [ ]:
print(df.isnull().sum())

Name          0
Age           4
Marks         4
Attendance    4
Passed        0
dtype: int64

In [ ]:
df_cleaned=df.dropna()
print(df_cleaned)

     Name   Age  Marks  Attendance Passed
0   Alice  20.0   85.0        90.0    Yes
3   David  22.0   90.0        85.0    Yes
4     Eve  20.0   88.0        95.0     No
8     Ivy  24.0   92.0        92.0    Yes
12   Mona  21.0   83.0        80.0     No

In [ ]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Marks"].fillna(df["Marks"].median(),inplace=True)
df["Attendance"].fillna(df["Attendance"].mean(),inplace=True)
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

<ipython-input-19-5d0cfda7acef>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
<ipython-input-19-5d0cfda7acef>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Marks"].fillna(df["Marks"].median(),inplace=True)
<ipython-input-19-5d0cfda7acef>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Attendance"].fillna(df["Attendance"].mean(),inplace=True)